<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicStickUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicStickUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MagicStickUI.Properties.Settings>
            <setting name="LastSelectedDeviceId" serializeAs="String">
                <value />
            </setting>
        </MagicStickUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MagicStickUI.Properties.Settings>
            <setting name="GitHubRepositoryName" serializeAs="String">
                <value>magicstick.io</value>
            </setting>
            <setting name="GitHubRepositoryOwner" serializeAs="String">
                <value>samartzidis</value>
            </setting>
            <setting name="DownloadUriTemplate" serializeAs="String">
                <value>https://magicstick-app.azurewebsites.net/api/download/{0}/{1}</value>
            </setting>
        </MagicStickUI.Properties.Settings>
    </applicationSettings>
</configuration>